/crashcourse/__pycache__/alien.cpython-311.pyc
/crashcourse/__pycache__/bullet.cpython-311.pyc
/crashcourse/__pycache__/settings.cpython-311.pyc
/crashcourse/__pycache__/ship.cpython-311.pyc
/crashcourse - working backup pg 264.7z
/crashcourse - working backup pg 266.7z
/pygame-templates/button-template_not_working_py
frogger-but-blocky/__pycache__/rectboilerplate.cpython-312.pyc
__pycache__
/Python ASCII RPG Tutorial/.vscode
