/crashcourse/__pycache__/alien.cpython-311.pyc
/crashcourse/__pycache__/bullet.cpython-311.pyc
/crashcourse/__pycache__/settings.cpython-311.pyc
/crashcourse/__pycache__/ship.cpython-311.pyc
/crashcourse - working backup pg 264.7z
/crashcourse - working backup pg 266.7z
